.chat-box {
  background: #FFF;
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 290px;
  z-index: 99;
  border: 1px solid #a1c90e;
  font-family: 'Montserrat', sans-serif !important;
  .chat-trigger {
    color: #FFF !important;
    &:link, &:visited, &:hover {
      color: #FFF !important;
    }
  }
  .chat-notif {
    color: #000;
    line-height: initial !important;
  }
  .chat-window {
    .message-wrapper {
      button, input {
        border-radius: 0px;
      }
    }
    .message-window {
      max-height: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 120px;
      .user {
        background: #ccf5ff;
        clear: both;
        width: 95%;
        float: left;
        margin-bottom: 7px;
        padding: 18px;
        font-size: 13px;
        &.me {
          background: #F5F5F5;
          float: right;
        }
      }
    }
  }
  .chat-header {
    background-color: #a1c90e;
  }
  &.status-offline {
    border: 1px solid #ccc;
    .chat-header {
      background-color: #ccc;
      color: #000 !important;
      .chat-trigger {
        color: #000;
      }
    }
  }
  .chat-trigger {
    &:hover, &:visited, &:active {
      color: #FFF;
    }
  }
  .chat-wrapper {
    min-height: 210px;
  }
  form {
    input, button, textarea {
      margin-bottom: 0px;
    }
    input, textarea {
      border: 1px solid #ccc;
      background-color: #ededed;
      color: #000;
      box-shadow: none;
      border-radius: 0px;
    }
    button {
      margin-bottom: 16px;
    }
  }
  .chat-submit {
    input {
      padding: 0px 10px;
      line-height: 40px;
      height: 40px;
    }
    button {
      margin-bottom: 16px;
      min-width: initial;
      padding: 0px 10px;
      line-height: 40px;
      height: 40px;
    }
  }
  .chat-notif {
    color: #000 !important;
  }
  ul li {
    margin-bottom: 4px;
  } 
}
