
/*
	D A S H B O A R D  
	----------------------------------------------------------------
*/

.file-nav{
	background-color:transparent;
	li{
		a{
			font-weight:600;
			font-weight:normal;
			color:#000;
			opacity:0.6;
		}
		&:not(:first-child):before{
			font-family: 'themify';
			content: "\e649";
		}
		&.active a,a:hover{
			color:#f9ad19;
			opacity:1;
		}
	}
}

.account-sidebar{
	height:initial;
	li{
		a{
			display:block;
		}
	}
	&.first li{
		float:none;
		clear:both;
		width:100%;
		margin-right:-5px;
		a{
			font-size:15px;
			padding:10px 15px;
			width:100%;
			display:block;
			border:none;
		}
		&.active a{
			opacity:1;
			background:#f9ad19;
			color:#FFF;
			border-left:5px solid #db9815;
		}
	}
	&.second li{
		margin-bottom:3px;
		display:block!important;
		float:left!important;
		width:initial!important;
		&.active a{
			color:#f9ad19;
		}
	}
}


.link-list li a{
	font-weight:normal;
	opacity:1;
	&:hover{
		color:#f9ad19!important;
	}
}

.search-box .p3{
	@include media($xs){
		padding:0px;
	}
}