/*
	D A T A T A B L E S  E X T E N S I O N S
	----------------------------------------------------------------
*/
.datatables-head-wrapper select,select.default{
	-webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
}
.table.v-align-middle{
	th,td{
		vertical-align: middle !important;
	}  
}