@import 'app';
#image-editor-modal{
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	display:none;
	background:rgba(0,0,0,0.5);
	overflow: auto;
	width:100%;
	height:100%;
	min-height:100vh;
	background:#555;
	#image-editor-body{
		#image-editor-toolbox{
			display:table;
			width:100%;
			padding:10px 24px;
			background:#FFF;
			ul{
				padding:0px;
				li{
					margin-right:5px;
					margin-bottom:5px;
					float:left;
					list-style:none;
					position:relative;
					&:hover .toolbox-sub{
						display: block !important;
					}
					.toolbox{
						outline:none!important;
						text-decoration:none!important;
						padding:5px 8px;
					    border: 1px solid #555;
					    color:#555;
					    display:table;
					    i{
					    	margin-right:5px;
					    }
						@include radius('20');
						&:hover{
							background:#242424;
							color:#FFF;
							box-shadow: 0 10px 40px -6px rgba(0, 0, 0, 0.1);
						}
					}
					.toolbox-sub{
						background:#FFF;
						display:none;
						position:absolute;
						width:150px;
						padding:8px;
						background:#FFF;
						border: 1px solid #ededed;
						max-height: 300px;
						overflow-y:auto;
						overflow-x:hidden;
						z-index:20;
						ul li{
							clear: both!important;
							float: none !important;
						}
						@include box-shadow(1);
						*{
							font-size:12px;
							color:#242424;
						}
						input{
							width: 100%;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}
#image-editor-body,.image-editor-wrapper{
	position: relative;
}	
.image-editor-wrapper{
	background:#cdcdcd;
	&:hover canvas{
		opacity: .6;
	}
}
#image-editor-canvas{
	background: #555;
	display: flex;
	align-items: center;
	justify-content: center;
	#canvas-holder{
		position:relative;
		overflow:hidden;
	}
	canvas{
		max-height: 100%;
		max-width: 100%;
		width:100%;
		margin: 0px auto;
	}
}
.image-editor{
	position:relative;
	overflow: hidden;
	background:#ededed;
	canvas{
    	max-height: 100%;
		max-width: 100%;
    }
}
.image-editor-tools{
	top:10px;
	position: absolute;
	left: 10px;
	z-index:99;
	a{
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content:center;
		outline: none!important;
		text-decoration: none!important;
	}
}
.image-editor-browse,.image-editor-edit,.image-editor-delete{
	width:30px;
	height:30px;
	border:1px solid #FFF;
	color: #FFF!important;
	float:left;
	margin: 3px;
	display:none;
	&:hover{
		background:#242424;
		color:#FFF;
		border-color:#242424;
		box-shadow: 0 10px 40px -6px rgba(0, 0, 0, 0.1);
	}
	&:active,&:visited{
		border:1px solid #FFF;
		color: #FFF;
	}
}


.image-editor-edit{
	left: 10px;
}
#crop-box{
	position:absolute;
	z-index:100;
	background: rgba(255,255,255,.3);
	border:1px dashed #FFF;
	touch-action: none;
  	user-select: none;
  	top:0px;
  	left: 0px;
  	resize: both;
}

#image-editor-modal #image-editor-canvas{
	touch-action: none;
	overflow:hidden;
	position:relative;
}
.image-editor-preview{
	display: block;
    position: relative;
    overflow: hidden;
}
#clone-img{
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	overflow:hidden;
	img{
		display:block;
		max-width:100%;
		max-height:100%;
	}
}